<!-- <!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="historycss.css">
</head>
<body>
  <nav class="navbar">
    <ul class="nav-menu">
      <li class="nav-item"><a href="order.html">Pesanan</a></li>
      <li class="nav-item"><a href="history.html">Riwayat Pembelian</a></li>
    </ul>
  </nav> -->
  
  <div class="container">
    <h1>Riwayat Pembelian</h1>
    <div class="order-list">
      <div class="order-item">
        <div class="order-thumbnail">
          <img src="repan.jpg" alt="Produk D">
        </div>
        <div class="order-details">
          <h2>Nama Barang</h2>
          <p>Tanggal: 10 Mei 2023</p>
          <p>Kuantitas:</p>
            <p>Total:</p>
          <button class="order-button">Pesan Kembali</button>
          <button class="review-button">Beri Rating</button>
        </div>
      </div>
      <div class="order-item">
        <div class="order-thumbnail">
          <img src="repan.jpg" alt="Produk E">
        </div>
        <div class="order-details">
          <h2>Nama Barang</h2>
          <p>Tanggal: 15 Mei 2023</p>
          <p>Kuantitas:</p>
            <p>Total:</p>
          <button class="order-button">Pesan Kembali</button>
          <button class="review-button">Beri Rating</button>
        </div>
      </div>
      <div class="order-item">
        <div class="order-thumbnail">
          <img src="repan.jpg" alt="Produk F">
        </div>
        <div class="order-details">
          <h2>Nama Barang</h2>
          <p>Tanggal: 20 Mei 2023</p>
          <p>Kuantitas:</p>
            <p>Total:</p>
          <button class="order-button">Pesan Kembali</button>
          <button class="review-button">Beri Rating</button>
        </div>
      </div>
    </div>
  </div>
<!-- </body>
</html> -->
