.navbarr {
    background-color: #f5f5f5;
    padding: 10px;
  }
  
  .nav-menuu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Add this line */
  }
  
  .nav-itemm {
    margin-right: 20px;
  }
  
  .nav-itemm:last-child {
    margin-right: 0;
  }
  
  .nav-itemm a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    font-family: "Montserrat", sans-serif; /* Gunakan font "Montserrat" atau font serupa */
  }
  
  .nav-itemm a:hover {
    text-decoration: underline;
  }
  
  .containerr {
    margin: 20px auto;
    max-width: 800px;
  }
  
  h1 {
    color: #333;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  .order-listt {
    margin-top: 30px;
  }
  
  .order-itemm {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  .order-thumbnaill img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 20px;
  }
  
  .order-detailss h2 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .order-detailss p {
    margin: 5px 0;
  }
  
  .order-buttonn {
    padding: 8px 16px;
    background-color: #005de8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 400px;
  }
  
  .order-buttonn:hover {
    background-color: #d32f2f;
  }
  
  .review-buttonn {
    padding: 8px 16px;
    background-color: #005de8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .review-buttonn:hover {
    background-color: #d32f2f;
  }