body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
  }
  .regis-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .regis-form {
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  .regis-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  .regis-form input[type="text"],
  .regis-form input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  }

  .regis-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2)
  }

  .regis-form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2323a0;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .regis-form input[type="submit"]:hover {
    background-color: #111;
  }
  .regis-form p {
    text-align: center;
    margin-top: 20px;
  }
  .regis-form a {
    color: #3180ff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  .regis-form a:hover {
    color: #111;
  }
